.primary_btn{
    padding: 10px 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 16px;
    border-radius: 5px;
    width:100%;
    justify-content: center;
    cursor: pointer; 
}
.outline_btn{
    padding: 10px 10px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 16px;
    border-radius: 5px;
    width: 80%;
    justify-content: center; 
    cursor: pointer;
}