.contact_section{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 30px;
}
.contact_section h1{
    font-size: 48px;
    font-weight: 800;
}
.contact_section p{
    font-weight:500;
    font-size:16px;
    width: 90%;
}
