.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* desktop: 50/50 */
  gap: 81px;
  align-items: center;
  max-width: 86%;
  justify-content: center;
  margin: 0 auto;
  height: calc(100vh - 500px);          /* exactly one screen */
  
}

.contact_form {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:17px
}

.contact_image img {
  width: 97%;
  height: auto;
  display: block;
  object-fit: cover;
}

.top_btn{
    display: flex;
    gap:32px;
    width: 80%;
    justify-content: center;
}

.form_control{
    position: relative;
}

.form_control label{
    position: absolute;
    top:-12px;
    left:10px;
    background-color: white;
    padding: 0 5px;
    
}

.c_form{
    width:72%;
}
.c_form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 27px;
}

.form_control input{
    width: 100%;
    height: 40px;
    padding: 0px;
}

.form_control textarea{
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.submit_btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

.submit_btn Button{
    width: 40%;
    
}




/* Tablet: make image column smaller (optional) */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr; /* form bigger, image smaller */
  }
}

/* Mobile: stack vertically */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* one column */
  }

  .contact_image {
    order: 2; /* image below form (optional) */
  }

  .top_btn{
    display: flex;
    flex-direction: column;
    gap:32px;
    width: 80%;
    justify-content: center;
}
}
