@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:"Poppins", sans-serif;
}
*{
    margin:0;
}

.main_container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    align-items: center;
    justify-content: end;
}

@media (max-width: 980px) {
    .main_container{
        justify-content: initial;
    }
}
@media (min-height: 600px) and (max-height: 850px)  {
    .main_container{
        flex-direction: row;
        justify-content: initial;
    }
}

@media (max-height: 600px){
    .main_container{
        flex-direction: column;
        justify-content: initial;
    }
}

@media (max-aspect-ratio: 18/10) {

    .main_container{
        justify-content: initial;
        flex-direction: column;
    }
  
}